<!DOCTYPE html>
<html lang="en">
<head>
    <title>YGMGV</title>
    <style>
        body {
            padding: 50px;
        }

        nav {
            padding-left: 200px;
            padding-top: 50px;
        }
        
        a {
            text-decoration: none;
            padding: 20px; 
        }

        a:link{
            color : black;

        }
        
        img {
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgb(198, 198, 198);
            margin-left: 20px;
                margin-right: 20px;
        }

        h2 {
            display: inline;
            padding-right: 670px;
        }


        button{
            color: #fff;
             background:black;
               border-radius: 7px; 
               width: 300px;
                height: 50px;
                margin-left: 20px;
                margin-right: 20px;
        }

        .images {
            padding-bottom: 20px;
            padding-top: 150px;
        }

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <nav>
            <a><h2>YGMGV</h2></a>
            <a>상영시간표</a>
            <a onclick="window.location.href='reservation'">영화 예매</a>
            <a onclick="window.location.href='login'">Login/SignUp</a>
            <a onclick="window.location.href='mypage'">예매기록</a>
        </nav>
        <center>
            <div class="images">
                <img width="300" src="https://user-images.githubusercontent.com/71479613/142095528-6494aafc-d32e-46e1-9f15-40c28aa1c76a.png">
                <img width="300" src="https://user-images.githubusercontent.com/71479613/142095528-6494aafc-d32e-46e1-9f15-40c28aa1c76a.png">
                <img width="300" src="https://user-images.githubusercontent.com/71479613/142095528-6494aafc-d32e-46e1-9f15-40c28aa1c76a.png">
                <img width="300" src="https://user-images.githubusercontent.com/71479613/142095528-6494aafc-d32e-46e1-9f15-40c28aa1c76a.png">
            </div>
            <div>
                <button onclick="window.location.href=''">예매하기</button>
                <button onclick="window.location.href=''">예매하기</button>
                <button onclick="window.location.href=''">예매하기</button>
                <button onclick="window.location.href=''">예매하기</button>
            </div>

        </center>

    </header>
</body>
</html>