<!DOCTYPE html>
<html lang="en">
<head>
    <title>YGMGV</title>
    <style>
        body {
            padding: 50px;
        }

        nav {
            padding-left: 200px;
            padding-top: 50px;
        }
        
        a {
            text-decoration: none;
            padding: 0px; 
            /* font-weight: bold; */
        }

        a:link{
            color : black;

        }
        
        img {
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgb(198, 198, 198);
            margin-left: 20px;
                margin-right: 20px;
        }

        h2 {
            display: inline;
            padding-right: 670px;
        }


        button{
            color: #fff;
             background:black;
               border-radius: 7px; 
               width: 300px;
                height: 50px;
                margin-left: 20px;
                margin-right: 20px;
        }

        .images {
            padding-bottom: 20px;
            padding-top: 110px;
        }

        .menu1{
            padding-left: 220px;
        }
        .menu2,.menu3{
            padding-left: 50px;
        }

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <nav>
            <a><h2>YGMGV</h2></a>
            <a onclick="window.location.href='time'" class = 'menu1'>상영시간표</a>
            <!-- <a onclick="window.location.href='reservation'">영화 예매</a> -->
            <% if(!isLogin){ %>
            <a onclick="window.location.href='/users/login'" class = 'menu2'>Login/SignUp</a>
            <% }else{ %>
            <a class = "menu2"> <%= name %>님, 안녕하세요</a>
            <% } %>
            <a onclick="window.location.href='mypage'" class = 'menu3'>My Page</a>
        </nav>
        <center>
            <div class="images">
                <img width="300" src="https://user-images.githubusercontent.com/71479613/144706962-3512236f-a24b-47e5-a78e-9cd169e8afc1.png">                <img width="300" src="https://user-images.githubusercontent.com/71479613/144706690-f6c9a606-8e51-447b-9b3c-a9d188d48407.png">                
                <img width="300" src="https://user-images.githubusercontent.com/71479613/144706855-e1b8b957-a042-46b0-9a64-d0a289bffd7a.png">            
                <img width="300" src="https://user-images.githubusercontent.com/71479613/144706913-e1442571-a7df-4ba9-a764-4fc86d604d1c.png">            </div>
            <div>
                <button onclick="window.location.href='/time'">예매하기</button>
                <button onclick="window.location.href='/time'">예매하기</button>
                <button onclick="window.location.href='/time'">예매하기</button>
                <button onclick="window.location.href='/reservation'">예매하기</button>
            </div>

        </center>

    </header>
</body>
</html>